body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 11;
}
tr{
    text-align: center;
    padding: 5px;
}
td{
    text-align: center;
    padding: 5px;
}

form{
    text-align: center;
    padding: 5px;
}