body {
    margin: 0;
    font-family: Helvetica;
    font-size: 11;
    background: rgb(236,232,142);
    background: linear-gradient(90deg, rgba(236,232,142,1) 0%, rgba(163,137,191,1) 100%);
}
h1{
    width: 25%;
    text-align: center;
    padding: 5px;
}
form{
    width: 25%;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 10px 1px #000000;
    background: rgb(236,142,183);
    background: linear-gradient(90deg, rgba(236,142,183,1) 0%, rgba(137,162,191,1) 100%);
}
table{
    width: 25%;
    box-shadow: 5px 5px 10px 1px #000000;
    background: rgb(236,142,183);
    background: linear-gradient(90deg, rgba(236,142,183,1) 0%, rgba(137,162,191,1) 100%);
}
td{
    text-align: center;
}