{%extends 'base.html' %}

{% block head %}
<title>ToDo List</title>
{% endblock %}

{% block body %}
<div class="test">
    <h1>Task Manager</h1>
        <tr>
            <a href="/Delete">Delete all</a>
            <a href="/Display">Display</a>  
            <a href="/Update">Update</a>
        </tr>     
    
    <form action="/" method="POST">
        <label for="n1">Task</label>
        <input type = "text" id="n1" name = "name" /><br>
        <label for="d1">Date</label>
        <input type = "text" id="d1" name = "date" /><br>
        <label for="d2">Desc</label>
        <input type = "text" id="d2" name = "details" /><br>
        <input type = "submit" value = "Submit" />
    </form>     

    <h2>Update Task</h2>

    <form action="/Update" method="POST">
        <label for="u1">Updated Task:</label>
        <input type="text" id="u1" name = "t1" /><br>
        <label for="u2">Updated Date:</label>
        <input type="text" id="u2" name = "input2" /><br>
        <label for="u3">Updated Details:</label>
        <input type="text" id="u3" name = "input3" /><br>
        <label for="u4">Task ID:</label>
        <input type="int" id="u4" name = "input4" /><br>
        <input type="submit" value = "Submit" />
    </form>   

    <table>
        <h1>Records:</h1>
        <tr>
                <th>Task</th>
                <th>Date</th>
                <th>Details</th>  
                <th>task_id</th>       
        </tr>
    {% for result in results %}
        <tr>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
            <td>{{result[3]}}</td>
            <td>{{result[0]}}</td>    
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
