{%extends 'base.html' %}

{% block head %}
<title>ToDo List</title>
{% endblock %}

{% block body %}
<div class="test">
    <h1>Task Manager</h1>
        <tr>
            <a href="/Delete">Delete all</a>
            <a href="/Display">Display</a>  
        </tr>
    <form action="/" method="POST">
        <label for="n1">Task</label>
        <input type = "text" id="n1" name = "name" /><br>
        <label for="d1">Date</label>
        <input type = "text" id="d1" name = "date" /><br>
        <label for="d2">Desc</label>
        <input type = "text" id="d2" name = "details" /><br>
        <input type = "submit" value = "Submit" />
    </form>     
    <table>
        <h1>Records:</h1>
        <tr>
                <th>Task</th>
                <th>Date</th>
                <th>Details</th>         
        </tr>
    {% for result in results %}
        <tr>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
            <td>{{result[3]}}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
